/* Navbar */
.navbar-brand {
  color: #f8f8f2;
}
.btn {
  color: #f8f8f2;
  background-color: #282a36;
  border: #bd93f9 solid 2px;
}

.btn:hover {
  color: #f8f8f2;
  background-color: #44475a;
  border: #bd93f9 solid 2px;
}

.navbar-toggler {
  background-color: #282a36;
  border: #bd93f9 solid 3px;
}

.navbar-toggler:hover {
  background-color: #bd93f9;
}

.btn-group:hover > .dropdown-menu {
  display: block;
  float: inline-start;
}

.dropdown-menu {
  background-color: #282a36;
  border: #bd93f9 solid 2px;
  padding: 0;
}
.dropdown-item {
  color: #bd93f9;
  text-align: right;
  height: 50px;
  justify-content: center;
}
.dropdown-item:hover {
  background-color: #44475a;
  color: #f8f8f2;
  border-radius: 4px;
}

.dropdown-item:hover > .dropdown-icon {
  filter: invert(81%) sepia(34%) saturate(6384%) hue-rotate(211deg)
    brightness(100%) contrast(96%);
}
.dropdown-icon {
  display: inline-block;

  height: 90%;

  padding: 2px;
  filter: invert(93%) sepia(5%) saturate(521%) hue-rotate(339deg)
    brightness(109%) contrast(94%);
}

.btn-group > .dropdown-toggle:active {
  pointer-events: none;
}

/* About me */
.image-container {
  float: right;
  shape-outside: circle();
}

/* Skills */
.rating {
  background-color: #282a36;
  border: #bd93f9 solid 2px;
  color: #f8f8f2;
  height: 100%;
  text-align: center;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 1);
}
.hearts {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bd93f9;
}

/* Portfolio */
.card {
  background-color: #282a36;
  border: #bd93f9 solid 2px;
  color: #f8f8f2;
  height: 100%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 1);
}
.card-title {
  color: #bd93f9;
}

.card-title:hover {
  color: #bd93f9;
}


/* Other */
.spacer-gx {
  background-color: #44475a;
  height: 2px;
}

.object-shadow {
  -webkit-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 1);
}

/* containers */
li {
  text-align: left;
}
body {
  background-color: #44475a;
  color: #f8f8f2;
}
section {
  overflow: auto;
  background: #282a36;
  text-align: left;
  border: 2px solid #bd93f9;
}
h1 {
  text-align: center;
  color: #bd93f9;
}

a {
  color: #bd93f9;
}

a:hover {
  color: #f8f8f2;
}